html,
body,
.root {
  margin: 0;
  padding: 0;
  font-family: HelveticaNeue, Helvetica Neue, Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6f6f6;
  color: #3f3f3f;
  font-size: 16px;
  text-align: center;
}

#root,
.App,
.container,
.tab-content,
.tab-pane,
.row,
.h100 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.row {
  margin: 0;
}

.table td,
.table th {
  padding: 0.5rem;
}

.tab-content {
  padding: 20px;
  background-color: #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000;
  background-color: #fff;
}

.nav-pills a {
  color: #9d9d9d;
}

.nav-tabs a:hover,
.nav-tabs .active a {
  color: #000 !important;
}

.nav-tabs {
  border-bottom: 1px solid #9d9d9d;
}

.table {
  font-size: 16px;
  color: #444444;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.intro {
  text-align: left;
}

.intro .prettify-json {
  margin: 10px 0 10px 0;
}

.form-element {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: HelveticaNeue-Light, Helvetica Neue, Helvetica;
  font-size: 14px;
  padding-left: 5px;
  margin-bottom: 7px;
}

.form-element .form-prompt {
  font-family: HelveticaNeue-Medium, Helvetica Neue, Helvetica;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
  text-align: left;
  font-weight: 600;
}

.form-element .form-prompt .form-instructions {
  color: rgb(146, 146, 146);
  line-height: 1.3em;
  padding-bottom: 1px;
  font-size: 10px;
  letter-spacing: 0px;
  font-weight: 600;
  max-width: 210px;
  text-align: left;
}

.form-element .upload-prompt-row {
  display: flex;
}

.awsui-button.awsui-button-variant-primary {
  background-color: #1166bb;
  background-image: linear-gradient(#2d8cec, #1166bb);
  border: 1px solid #0b4075;
  border-top-color: #1166bb;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.form-element .upload-button {
  display: flex !important;
  justify-content: center !important;
  flex-direction: row !important;
  margin-bottom: 5px;
}

.awsui-button {
  border-radius: 4px;
  color: #444444;
  cursor: pointer;
  display: inline-block;
  line-height: 21px;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 14px;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  white-space: nowrap;
  -moz-appearance: none;
  appearance: none;
}

.form-element .upload-button .upload {
  padding-left: 5px;
}

.form-element input[type="file"] {
  display: none;
}

.upload.awsui-icon-light::before {
  background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%222048%22%20height%3D%222048%22%20viewBox%3D%220%200%202048%202048%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23FFF%22%20%20d%3D%22M1472%201600q0-26-19-45t-45-19-45%2019-19%2045%2019%2045%2045%2019%2045-19%2019-45zm256%200q0-26-19-45t-45-19-45%2019-19%2045%2019%2045%2045%2019%2045-19%2019-45zm128-224v320q0%2040-28%2068t-68%2028H288q-40%200-68-28t-28-68v-320q0-40%2028-68t68-28h427q21%2056%2070.5%2092t110.5%2036h256q61%200%20110.5-36t70.5-92h427q40%200%2068%2028t28%2068zm-325-648q-17%2040-59%2040h-256v448q0%2026-19%2045t-45%2019H896q-26%200-45-19t-19-45V768H576q-42%200-59-40-17-39%2014-69l448-448q18-19%2045-19t45%2019l448%20448q31%2030%2014%2069z%22%2F%3E%3C%2Fsvg%3E);
}

.awsui-icon:empty::before {
  margin-right: 0;
}

.awsui-icon::before {
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.form-element .upload-button .button-text {
  padding: 2px 8px 2px 8px;
}

.awsui-button.awsui-button-variant-primary:hover:not(.awsui-button-disabled) {
  background-image: linear-gradient(#1166bb, #0d4d8c);
}

.form-control {
  width: auto;
  max-width: 100%;
}

.labels-accordion {
  width: 95%;
  text-align: left;
}

.labels-accordion .card-header {
  padding: 0 0 0 8px;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  border-bottom: 1px solid #dadada;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.labels-accordion .card-header,
.labels-accordion .card {
  background-color: transparent;
  border: 0;
}

.prettify-json {
  white-space: pre;
  word-wrap: break-word;
  font-family: HelveticaNeue, "Helvetica Neue", Helvetica;
  font-size: 12px;
  color: #494949;
  letter-spacing: 1.29px;
  line-height: 16px;
  text-align: left;
  padding: 6px;
  margin: 0 0 25px 0;
  background-color: #f6f6f6;
  overflow: scroll;
}

i.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 4px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

pre {
  margin: 10px 0 10px 0;
  background-color: #f6f6f6;
  padding: 6px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

h2 {
  margin: 30px 0 10px 0;
}

h4 {
  margin: 20px 0 10px 0;
}

.navbar-nav button {
  margin: 0 5px;
}

.powered {
  color: rgba(69, 69, 69, 0.47);
  font-style: italic;
}

.projects {
  width: 100%;
  text-align: center;
}

.projects .card {
  margin: 30px;
  text-align: left;
}

.projects .card button {
  margin: 0;
  padding: 0;
  vertical-align: inherit;
}

.projects .card td {
  vertical-align: middle;
}

.projects .card td,
.projects .card tr:first-child {
  border-top: 0;
}

.projects .card tr {
  border-top: 1px solid #dee2e6;
}

.projects .card .model-action-button {
  padding: 8px;
}

.awslogo {
  width: 41px;
  height: 24px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmlld0JveD0iMCAwIDgwIDQ3Ij48c3R5bGU+LnN0MHtjbGlwLXBhdGg6dXJsKCNTVkdJRF8zXyk7fTwvc3R5bGU+PGRlZnM+PHBhdGggaWQ9IlNWR0lEXzFfIiBkPSJNNTkuMSAyMi44Yy43LjQgMS45LjkgMy4yIDEuMiAxLjMuMyAzLjUuNiA0LjkuNiAxLjQgMCAyLjYtLjIgMy44LS41IDEuMS0uMyAyLjEtLjggMy0xLjUuOC0uNiAxLjUtMS40IDEuOS0yLjMuNS0uOS43LTIuMS43LTMuMiAwLTEuNC0uNC0yLjYtMS4yLTMuNy0uOC0xLjEtMi4yLTEuOS00LjEtMi41bC0zLjgtMS4yYy0xLjQtLjUtMi40LS44LTIuOS0xLjNzLS44LTEuMS0uOC0xLjhjMC0xLjEuNC0xLjggMS4zLTIuMy44LS41IDItLjYgMy41LS42IDEuOSAwIDMuOS42IDUuNCAxLjMuNS4yLjguMyAxIC4zLjQgMCAuNi0uMy42LS44bC4xLTEuNWMwLS43LS40LTEuMy0uOS0xLjUtLjQtLjMtMS45LS44LTMuMS0xLjEtLjUtLjEtMS4xLS4yLTEuNy0uMy0uNi0uMS0xLjItLjEtMS44LS4xLTEuMiAwLTIuMy4xLTMuNC40LTEuMS4zLTIgLjgtMi44IDEuNC0uOC42LTEuNCAxLjMtMS45IDIuMi0uNS44LS43IDEuOC0uNyAyLjkgMCAxLjQuNCAyLjYgMS4zIDMuOC45IDEuMiAyLjMgMS45IDQuMyAyLjZsMy45IDEuMmMxLjMuNCAyLjIuOSAyLjcgMS40LjUuNS43IDEuMS43IDEuOCAwIDEuMS0uNSAxLjktMS40IDIuNS0uOS41LTIuMi44LTMuOS44LTEuMSAwLTQtLjQtNy4xLTEuNi0uMy0uMS0uNS0uMi0uNy0uMy0uMi0uMS0uMy0uMS0uNS0uMS0uNCAwLS42LjQtLjYuOXYxLjNjMCAuMi4xLjUuMi43LjEuNC40LjYuOC45em0tMjcuNi0uMmMuMi41LjMuOS42IDEgLjIuMi42LjMgMSAuM2gyLjNjLjUgMCAuOS0uMSAxLjEtLjMuMi0uMi40LS41LjUtMS4xbDQuMS0xNi44IDQuMSAxNi44Yy4xLjUuMy45LjUgMS4xLjIuMi42LjMgMS4xLjNoMi4zYy41IDAgLjgtLjEgMS0uMy4yLS4yLjQtLjUuNi0xbDYuNC0yMC4yYy4xLS4zLjItLjUuMi0uNnYtLjRjMC0uNC0uMi0uNi0uNy0uNmgtMi41Yy0uNSAwLS44LjEtMSAuMy0uMi4yLS40LjUtLjUgMUw0OCAxOS41IDQzLjggMmMtLjEtLjUtLjMtLjktLjUtMS0uMi0uMi0uNi0uMy0xLjEtLjNoLTIuMWMtLjUgMC0uOS4xLTEuMS4zLS4yLjItLjQuNS0uNSAxbC00LjEgMTcuM0wyOS45IDJjLS4yLS41LS4zLS45LS41LTEtLjItLjItLjYtLjMtMS0uM2gtMi42Yy0uNCAwLS43LjItLjcuNiAwIC4yLjEuNS4yIDEuMWw2LjIgMjAuMnpNMTUuMSAxMC40Yy0xLS4xLTEuOS0uMi0yLjgtLjItMi43IDAtNC45LjctNi41IDItMS42IDEuNC0yLjQgMy4yLTIuNCA1LjQgMCAyLjEuNyAzLjggMiA1IDEuMyAxLjMgMy4xIDEuOSA1LjMgMS45IDMuMSAwIDUuNy0xLjIgNy44LTMuNi4zLjYuNiAxLjEuOCAxLjUuMy40LjYuOCAxIDEuMi4yLjIuNS40LjguNC4yIDAgLjQtLjEuNy0uMmwxLjctMS4xYy4zLS4yLjUtLjUuNS0uOCAwLS4yLS4xLS40LS4yLS42LS40LS43LS43LTEuMy0uOS0xLjktLjItLjYtLjMtMS40LS4zLTIuM1Y4LjZjMC0yLjktLjctNS0yLjItNi40QzE4LjkuOCAxNi42LjEgMTMuNC4xYy0xLjUgMC0yLjguMi00LjEuNS0xLjQuMi0yLjUuNi0zLjQgMS4xLS40LjItLjYuNC0uOC41LS4xLjItLjIuNS0uMiAxdjEuM2MwIC41LjIuOC42LjguMSAwIC4yIDAgLjQtLjEuMiAwIC41LS4yLjktLjMgMS0uNCAxLjktLjcgMi45LS45IDEtLjIgMS45LS4zIDIuOS0uMyAyIDAgMy41LjQgNC4zIDEuMi44LjcgMS4zIDIuMSAxLjMgNC4xdjEuOWMtMS4xLS4yLTIuMS0uNC0zLjEtLjV6bTMuMSA0LjZjMCAuOS0uMSAxLjYtLjMgMi4zLS4yLjYtLjUgMS4yLS45IDEuNy0uNy44LTEuNiAxLjQtMi41IDEuNy0xIC4zLTEuOS41LTIuNy41LTEuMiAwLTIuMS0uMy0yLjgtLjktLjctLjYtMS0xLjUtMS0yLjggMC0xLjMuNC0yLjMgMS4zLTMgLjktLjcgMi4yLTEuMSA0LTEuMS44IDAgMS42LjEgMi41LjIuOS4xIDEuNy4zIDIuNC40djF6Ii8+PC9kZWZzPjxkZWZzPjxwYXRoIGlkPSJTVkdJRF8yXyIgZD0iTTcxIDM1LjNjLTkuOCA0LjEtMjAuNSA2LjEtMzAuMiA2LjEtMTQuNCAwLTI4LjMtMy45LTM5LjYtMTAuMy0xLS42LTEuNy40LS45IDEuMkMxMC44IDQxLjUgMjQuNiA0NyAzOS45IDQ3YzEwLjkgMCAyMy42LTMuNCAzMi40LTkuNyAxLjUtMSAuMi0yLjYtMS4zLTJ6bTguNy00LjljLTEtMS4yLTkuMi0yLjItMTQuMiAxLjMtLjguNS0uNiAxLjMuMiAxLjIgMi44LS4zIDkuMS0xLjEgMTAuMi4zIDEuMSAxLjQtMS4yIDcuMi0yLjMgOS44LS4zLjguNCAxLjEgMS4xLjUgNC43LTMuOCA2LTExLjkgNS0xMy4xeiIvPjwvZGVmcz48dXNlIHhsaW5rOmhyZWY9IiNTVkdJRF8xXyIgb3ZlcmZsb3c9InZpc2libGUiIGZpbGw9IiNGRkYiLz48dXNlIHhsaW5rOmhyZWY9IiNTVkdJRF8yXyIgb3ZlcmZsb3c9InZpc2libGUiIGZpbGw9IiNGODk5MUQiLz48Y2xpcFBhdGggaWQ9IlNWR0lEXzNfIj48dXNlIHhsaW5rOmhyZWY9IiNTVkdJRF8xXyIgb3ZlcmZsb3c9InZpc2libGUiLz48L2NsaXBQYXRoPjxjbGlwUGF0aCBpZD0iU1ZHSURfNF8iIGNsYXNzPSJzdDAiPjx1c2UgeGxpbms6aHJlZj0iI1NWR0lEXzJfIiBvdmVyZmxvdz0idmlzaWJsZSIvPjwvY2xpcFBhdGg+PC9zdmc+");
}

.no-projects {
  margin-top: 40px;
}

.no-projects button {
  margin: 0;
  padding: 0;
  vertical-align: inherit;
}

.amplify-auth label {
  margin-bottom: 0;
}

.amplify-auth input {
  vertical-align: inherit;
}

.custom-label-box {
  white-space: nowrap;
}

@media (min-width: 0px) and (max-width: 780px) {
  .projects .card td {
    display: inline-block;
    width: 100%;
    border-top: 0;
    text-align: center !important;
  }
}

@media (min-width: 0px) and (max-width: 1024px) {
  .projects .card {
    display: inline-block;
    width: 84%;
  }
}

@media (min-width: 1025px) {
  .projects .card {
    display: inline-block;
    width: 70%;
  }
}
